/*Common Styles*/
* {
    font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    margin: 0;
    min-width: 320px;
    background: #353535;
}

button {
    cursor: pointer;
    background: transparent;
    border: none;
}

/*Animation Styles*/
@keyframes opacity-change {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Main Styles*/
.main-content {
    max-height: 100vh;
    max-width: 100vw;
}

/*Modal Styles*/
.modal-window {
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color linear 1s;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.modal-body {
    width: 40vw;
    min-height: 200px;
    background: #d9d9d9;
    border-radius: 8px;
    box-shadow: 0 0 50px 0 rgba(217, 217, 217, 0.5);
    animation: opacity-change linear 1s;
    transition: opacity linear 1s;
    opacity: 1;
}

.modal-title {
    font-size: 5rem;
    letter-spacing: 0.35rem;
    margin: 0;
    text-align: center;
    border-bottom: 5px solid #353535;
    text-transform: uppercase;
}

.choose-label {
    font-size: 3.5rem;
    letter-spacing: 0.175rem;
    text-align: center;
    margin: 0.5vh 0 0;
}

.modal-buttons {
    margin-top: 2.5vh;
    margin-bottom: 1vh;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.modal-btn {
    height: 7.5vh;
    min-height: fit-content;
    width: 7.5vw;
    font-size: 5rem;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-btn:focus {
    outline: none;
    border: 4px solid #353535;
}

.modal-btn:hover,
.modal-btn:active {
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.5);
}

/*Field Styles*/
.field {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    max-width: 100vw;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(3, 25vh);
}

.field-btn {
    font-size: 15rem;
    line-height: 1rem;
    color: #353535;
    transition: color 1.5s linear;
}

.field-btn:focus {
    outline: none;
}

.field-btn:not(.field-btn-with-value):focus {
    border: 2px solid #d9d9d9;
    margin: -1px;
}

.field-btn:not(.field-btn-with-value):focus.border-right {
    margin-left: -2px;
}

.field-btn:not(.field-btn-with-value):focus.border-bottom {
    margin-top: -2px;
}

.field-btn:not(.field-btn-with-value):hover,
.field-btn:not(.field-btn-with-value):active {
    box-shadow: 0 0 50px -10px rgba(217, 217, 217, 0.5);
}

.field-btn-with-value {
    color: #d9d9d9;
    cursor: initial;
}

.field-btn:nth-child(1) {
    border-radius: 10px 0 0 0;
}

.field-btn:nth-child(3) {
    border-radius: 0 10px 0 0;
}

.field-btn:nth-child(7) {
    border-radius: 0 0 0 10px;
}

.field-btn:nth-child(9) {
    border-radius: 0 0 10px 0;
}

.border-right {
    border-right: 1px solid #d9d9d9;
}

.border-bottom {
    border-bottom: 1px solid #d9d9d9;
}

/*Responsiveness Styles*/
@media (max-width: 1440px) {
    .modal-body {
        width: 70vw;
    }

    .modal-title {
        font-size: 7.5vw;
    }

    .choose-label {
        font-size: 5vw;
    }

    .modal-buttons {
        margin-top: initial;
    }

    .modal-btn {
        font-size: 6vw;
        height: 6vw;
    }

    @media (max-height: 1080px) {
        .modal-body {
            min-height: 275px;
        }
    }
}

@media (max-width: 768px) {
    html, body {
        font-size: 8px;
    }

    .modal-body {
        min-height: 175px;
    }
}

@media (max-height: 768px) {
    html, body {
        font-size: 8px;
    }
}

@media (max-width: 425px) {
    .modal-body {
        min-height: initial;
    }
}
